# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# environment variables
.env*.local

# database
*.sqlite
*.db

# logs
*.log

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts